---
layout: page
title: Research
permalink: /research/
published: true
---
<div class="researchtopic">
    <b>Crowdsourcing and Human Computation</b><br>
    {% for post in site.posts %}
        {% if post.categories contains 'project-crowdsourcing' %}
            <div id="projecticon">
                <img src="{{ site.url }}/{{ post.image }}"><br>
                <a href="{{ post.url }}">{{ post.shorttitle }}</a>
                ({{ post.publishdate }})
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="researchtopic">
    <b>Engineering System Design</b><br>
    {% for post in site.posts %}
        {% if post.categories contains 'project-esd' %}
            <div id="projecticon">
                <img src="{{ site.url }}/{{ post.image }}"><br>
                <a href="{{ post.url }}">{{ post.shorttitle }}</a>
                ({{ post.publishdate }})
            </div>
        {% endif %}
    {% endfor %}
</div>

