---
title: Teaching
layout: page
permalink: /teaching/
published: true
date: 2016-06-02
category: header
---
    <div class="topic">
        <b>MAE540: Advanced Product Design (2017) </b><br>
        <a href="{{ site.url}}/_pages/teaching/apd_index.html">Course Website</a>
    </div>

    <div class="topic">
        <b>MAE598/494: Design Optimization (2015, 2016, 2017)</b><br>
        <a href="{{ site.url}}/_pages/teaching/opt_index.html">Course Website</a>
    </div>
    <!--<div class="topic">-->
        <!--<b>Design Optimization (MAE598/494) Lecture Notes</b><br>-->
        <!--{% for post in site.posts %}-->
        <!--{% if post.categories contains '598lecturenote' %}-->
            <!--* {{ post.title }} (<a href="{{ site.url}}/_teaching{{ post.link }}">pdf</a>)<br>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->

        <!--<div id="designopt_list_button" class="list_button"><b>Click to see student projects</b></div>-->
        <!--<div id="designopt_list" class="hidden_list">-->
            <!--{% for i in (2015..2016) %}-->
            <!--<b> {{ i }}</b><br>-->
            <!--{% for post in site.posts %}-->
                <!--{% if post.categories contains '598studentproject' %}-->
                    <!--{% if post.year == i %}-->
                    <!--* {{ post.title }}({{ post.authors}}, <a href="{{ site.url}}/_teaching/{{ post.link }}">pdf</a>)<br>-->
                    <!--{% endif %}-->
                <!--{% endif %}-->
            <!--{% endfor %}-->
            <!--{% endfor %}-->
        <!--</div>-->
    <!--</div>-->

    <div class="topic">
        <b>MAE301: Applied Statistics (2015) Lecture Notes</b><br>
        {% for post in site.posts %}
        {% if post.categories contains '301lecturenote' %}
            * {{ post.title }} (<a href="{{ site.url}}/_teaching{{ post.link }}">pdf</a>)<br>
        {% endif %}
        {% endfor %}
    </div>
