---
layout: page
title: Publications
permalink: /publications/
published: true
date: 2016-08-30
category: header
---

<br>
<div class="topic">
    <b>Selected papers (<a href="https://scholar.google.com/citations?hl=en&user=7UwhOgIAAAAJ&view_op=list_works">Google Scholar</a>):</b><br>
    {% for post in site.posts %}
    {% if post.categories contains 'paper' %}
        <div class="paper">
<!--            {% if post.image %}-->
<!--            <img src="{{ site.url }}/{{ post.image }}">-->
<!--            {% else %}-->
<!--            <img src="{{ site.url }}/_images/research/default_thumbnail.png">-->
<!--            {% endif %}-->
<!--            {% if post.class contains 'ml' %}-->
<!--            <div class="paper-type">-->
<!--                ML-->
<!--            </div>-->
<!--            {% endif %}-->
            <div class="paper-cite">
                <a>{{ post.author}}, "{{ post.title }}", <i>{{ post.venue }}</i>, {{ post.year}}</a>
                {% if post.link %}
                | <a href="{{ post.link }}">link</a>
                {% endif %}
                {% if post.note %}
                <b>({{ post.note }})</b>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>