<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!--<script type="text/x-mathjax-config">-->
		<!--MathJax.Hub.Config({-->
		  <!--tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}-->
		<!--});-->
	<!--</script>-->
	<!--<script type="text/javascript" async src="path-to-mathjax/MathJax.js?config=TeX-AMS_CHTML"></script>-->
	<script type="text/javascript" async
			src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	<script type="text/javascript" src="/javascript/restive.min.js"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			$('body').restive({
				breakpoints: ['10000','960'],
				classes: ['nb','r_phone'],
//				turbo_classes: 'is_mobile=r_mobi,is_phone=r_phone,is_tablet=r_tablet,is_landscape=r_landscape',
			});
		});
	</script>
</head>
