$content-width: 90%;
$main: #222222;
$font-style: 'Open Sans', sans-serif;
$font-color: #222222;
$link-color: #222222;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #222222;
$light: #000000;
$header:  #ffffff;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
