body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.0em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 100;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
  	color: $main;
	font-size: 2em;
}
h3 {
	color: $main;
	font-size: 1.6em;
}
a,
a:visited {
	color: $link-color;
	//text-decoration: underline;
	//font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	//text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
  	position: relative;
    top: 50px;
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
video {
  margin: 0;
  padding: 0;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}
.caption {
  font-size: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

p {
  justify-content: center;
  align-items: center;
}
a:-webkit-any-link
{
  border-bottom: solid 2px rgba(12,56,100,.5);
  text-decoration: none;
}


/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
  	height: 50px;
	z-index: 2;
	border-bottom: 2px solid lighten($light, 30%);
	box-shadow: 0px 3px 3px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 100%;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 14px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: 0px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					  	border-bottom: 3px solid #000000
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
  	font-size: 80%;
	text-align: center;
	padding: 40px;
  	clear: left;
  	bottom: 0px;
}

#mission {
  	font-size: 80%;
  	width: 50%;
  	float: left;
  	padding: 10px 5% 0 0;
	text-align: justify;
	text-justify: inter-word;
}

#news {
  	font-size: 80%;
  	width: 50%;
  	float: left;
  	padding: 10px 5% 0 0;
}

#projecticon {
  font-size: 80%;
  height: 240px;
  width: 200px;
  float: left;
  margin: 10px;
  text-align: center;
  img {
	height: 150px;
	width: 150px;
  }
  overflow: auto;
}

#project {
  h2 {text-align: center;}
  img {
	width:60%;
	display: block;
	margin-left:auto;
	margin-right:auto;
  }
}

.topic {
  float:left;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

#slides {
  font-size: 80%;
  margin-top: 20px;
  float: left;
  width: 100%;
}

#slideimage, {
  text-align: center;
  width: 100px;
  height: 100px;
  img {
	width:100%;
	height:100%;
	display: block;
	border: black 2px;
	border:1px solid;
  }
  float: left;
  margin-right: 10px;
}

.people {
  font-size: 80%;
  width: 100%;
  float: left;
  padding: 10px 5% 0 0;
}

.member {
  height: 200px;
  width: 120px;
  float: left;
  margin: 10px;
  text-align: center;
  img {
	width: 100px;
  }
  overflow: auto;
}

.hidden_list {
  display: none;
  font-size: 80%;
}

.list_button {
  cursor: pointer;
}

article {
  li {
	margin-bottom: 10px;
  }
}

table {
  padding: 0; }
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }
table tr:nth-child(2n) {
  background-color: #f8f8f8; }
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }
table tr th :first-child, table tr td :first-child {
  margin-top: 0; }
table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; }

//td{
//  padding-right: 10px;
//  padding-left: 10px;
//  border-right: 2px solid #aaaaaa;
//}