body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.0em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 100;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	//text-decoration: underline;
	//font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	//text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
  	position: relative;
    top: 50px;
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}
.caption {
  font-size: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

p {
  justify-content: center;
  align-items: center;
}



/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 100%;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
  	clear: left;
}

#mission {
  	font-size: 80%;
  	width: 50%;
  	float: left;
  	padding: 0 5% 0 0;
	text-align: justify;
	text-justify: inter-word;
}

#news {
  	font-size: 80%;
  	width: 50%;
  	float: left;
  	padding: 0 5% 0 0;
}

#projecticon {
  font-size: 80%;
  height: 300px;
  width: 200px;
  float: left;
  margin: 10px;
  text-align: center;
  img {height: 150px;}
  overflow: auto;
}

#project {
  h2 {text-align: center;}
  img {
	width:60%;
	display: block;
	margin-left:auto;
	margin-right:auto;
  }
}

.researchtopic {
  float:left;
  width: 100%;
}


