---
layout: apd_default
title:  "Advanced Product Design"
date:   2017-01-01 00:00:00
published: true
category: course_productdesign
---

<b><a href="{{ site.url}}/productdesign/2016/12/08/syllabus.html">Syllabus</a></b><br><br>

<b>Student Projects</b><br>
    {% for post in site.posts %}
    {% if post.categories contains 'productdesign_project' AND post.published %}
    * <a href="{{ post.url }}">{{ post.title }}</a><br>
    {% endif %}
    {% endfor %}
<br>

<b>Lecture Notes</b><br>
    {% for post in site.posts %}
    {% if post.categories contains 'productdesign_lecture' AND post.published %}
    * <a href="{{ post.url }}">{{ post.title }}</a><br>
    {% endif %}
    {% endfor %}
<br>

<b>Project Guidelines</b><br>
    {% for post in site.posts %}
    {% if post.categories contains 'productdesign_guideline' AND post.published %}
    * <a href="{{ post.url }}">{{ post.title }}</a><br> 
    {% endif %}
    {% endfor %}
<br>

<b>Design Competitions</b><br>
    {% for post in site.posts %}
    {% if post.categories contains 'productdesign_competition' AND post.published %}
    * <a href="{{ post.url }}">{{ post.title }}</a><br>
    {% endif %}
    {% endfor %}
<br>

<b>Tutorials</b><br>
    {% for post in site.posts %}
    {% if post.categories contains 'productdesign_tutorial' AND post.published %}
    * <a href="{{ post.url }}">{{ post.title }}</a><br>
    {% endif %}
    {% endfor %}
<br>
    <!-- -->
<!--<b>Supplementary Materials</b><br>-->
    <!--{% for post in site.posts %}-->
    <!--{% if post.categories contains 'productdesign_supplementary' %}-->
    <!--* {{ post.title }} (<a href="{{ site.url}}/_teaching{{ post.link }}">pdf</a>)<br>-->
    <!--{% endif %}-->
    <!--{% endfor %}-->