---
layout: mechdesign_default
title:  "Principles of Mechanical Design"
date:   2017-01-01 00:00:00
published: true
category: course_mechdesign
---

<b><a href="{{ site.url}}/mechdesign/2018/01/02/syllabus.html">Syllabus</a></b><br><br>

<b>Lecture Notes</b><br>
{% for post in site.posts %}
{% if post.categories contains 'mechdesign_lecture' and post.published %}
* <a href="{{ post.url }}">{{ post.title }}</a><br>
{% endif %}
{% endfor %}
<br>

<b>Project</b><br>
{% for post in site.posts %}
{% if post.categories contains 'mechdesign_project' and post.published %}
* <a href="{{ post.url }}">{{ post.title }}</a><br>
{% endif %}
{% endfor %}
<br>

<b>Homework</b><br>
{% for post in site.posts %}
{% if post.categories contains 'mechdesign_homework' and post.published %}
* <a href="{{ post.url }}">{{ post.title }}</a><br>
{% endif %}
{% endfor %}
<br>
<!-- -->
<!--<b>Supplementary Materials</b><br>-->
<!--{% for post in site.posts %}-->
<!--{% if post.categories contains 'productdesign_supplementary' %}-->
<!--* {{ post.title }} (<a href="{{ site.url}}/_teaching{{ post.link }}">pdf</a>)<br>-->
<!--{% endif %}-->
<!--{% endfor %}-->