---
---
{{ reference }}

{% if entry.review %} (under review)
{% endif %}

{% if entry.accepted %} (accepted)
{% endif %}

{% if entry.pdf %} | <a href="../_papers/{{ entry.pdf }}"><b> pdf </b></a>{% endif %}

{% if entry.arxiv %} | <a href="../_papers/{{ entry.arxiv }}"><b> arXiv </b></a>{% endif %}

{% if entry.web %} | <a href="{{entry.web}}"><b> web </b></a>{% endif %}

{% if entry.data %} | <a href="{{ entry.data }}"><b> data </b></a>{% endif %}

{% if entry.erratum %} | <a href="{{ entry.erratum }}"><b> erratum </b></a>{% endif %}

{% if entry.award %} | <a style="color:indianred"><b> {{ entry.award }} </b></a>{% endif %}
