---
layout: default
---

<div id="project">
    <h3>{{ page.title }}</h3>
    {% if page.author %}
        Collaborators: {{ page.author }}<br><br>
    {% endif %}

    <b> Abstract </b><br>
    <a>{{ page.abstract }}</a>
    <br><br>

    <b> Images </b><br>
    {% if page.summaryimg %}
        <img src="{{ site.url }}/{{ page.summaryimg }}">
        <div class=caption>{{ page.imgcaption }}</div><br>
    {% endif %}
    {% if page.summaryimglink %}
        <img src="{{ page.summaryimglink }}">
        <div class=caption>{{ page.imgcaption }}</div><br>
    {% endif %}
    {% if page.summaryimg2 %}
        <img src="{{ site.url }}/{{ page.summaryimg2 }}">
        <div class=caption>{{ page.imgcaption2 }}</div><br>
    {% endif %}
    {% if page.summaryimglink2 %}
        <img src="{{ page.summaryimglink2 }}">
        <div class=caption>{{ page.imgcaption2 }}</div><br>
    {% endif %}
    {% if page.summaryimg3 %}
        <img src="{{ site.url }}/{{ page.summaryimg3 }}">
        <div class=caption>{{ page.imgcaption3 }}</div><br>
    {% endif %}
    {% if page.summaryimglink3 %}
        <img src="{{ page.summaryimglink3 }}">
        <div class=caption>{{ page.imgcaption3 }}</div><br>
    {% endif %}

    <b>Related Papers</b><br>
    {% if page.paper %}
        <a>1. {{ page.paper_detail }}</a>
        {% if page.paper_link %}
            <a href="{{ page.paper_link }}"><b>pdf</b></a>
        {% endif %}
        {% if page.paper_arxiv %}
            <a href="{{ page.paper_arxiv }}"><b>arXiv</b></a>
        {% endif %}

        {% if page.link %}
        , <a href="http://{{ page.link }}">Link</a>
        {% endif %}

        {% if page.source %}
        , <a href="{{ page.source }}"><b>Source Code</b></a>
        {% endif %}

        {% if page.paper_video %}
        <br><br>
        <iframe width="420" height="315"
                src="{{ page.paper_video }}">
        </iframe>
        {% endif %}
    {% endif %}

    {% if page.paper2 %}
        <br><br>
        <a>2. {{ page.paper_detail2 }}</a>
        {% if page.paper_link2 %}
            <a href="{{ page.paper_link2 }}"><b>pdf</b></a>
        {% endif %}
        {% if page.paper_arxiv2 %}
            <a href="{{ page.paper_arxiv2 }}"><b>arXiv</b></a>
        {% endif %}

        {% if page.link2 %}
            , <a href="http://{{ page.link2 }}">Link</a>
        {% endif %}

        {% if page.source2 %}
            , <a href="{{ page.source2 }}"><b>Source Code</b></a>
        {% endif %}

        {% if page.paper_video2 %}
        <br><br>
        <iframe width="420" height="315"
                src="{{ site.url }}/{{ page.paper_video2 }}">
        </iframe>
        {% endif %}
    {% endif %}

    {% if page.paper3 %}
        <br><br>
        <a>3. {{ page.paper_detail3 }}</a>
        {% if page.paper_link3 %}
            <a href="{{ page.paper_link3 }}"><b>pdf</b></a>
        {% endif %}
        {% if page.paper_arxiv3 %}
            <a href="{{ page.paper_arxiv3 }}"><b>arXiv</b></a>
        {% endif %}
        {% if page.link3 %}
        , <a href="http://{{ page.link3 }}">Link</a>
        {% endif %}

        {% if page.source3 %}
        , <a href="{{ page.source3 }}"><b>Source Code</b></a>
        {% endif %}

        {% if page.paper_video3 %}
        <br><br>
        <iframe width="420" height="315"
                src="{{ site.url }}/{{ page.paper_video3 }}">
        </iframe>
        {% endif %}
    {% endif %}

</div>

