---
layout: default
---

<div id="project">
    <h3>{{ page.title }}</h3>
    By {{ page.author }}<br><br>

    {% if page.summaryimg %}
        <img src="{{ site.url }}/{{ page.summaryimg }}">
        <div class=caption>{{ page.imgcaption }}</div><br>
    {% endif %}

    <b> Abstract </b><p>{{ page.abstract }}</p>
    {% if page.paper %}
        <a href="{{ site.url }}/{{ page.paper }}">Most Recent Paper</a>
    {% endif %}
    {% if page.paper_remote %}
        <a href="{{ page.paper_remote }}">Most Recent Paper</a>
    {% endif %}

    {% if page.link %}
    , <a href="http://{{ page.link }}">Link</a>
    {% endif %}

    {% if page.source %}
    , <a href="{{ page.source }}">Source</a>
    {% endif %}

    {% if page.video %}
    <br><br>
    <b> Presentation </b><br>
    <video controls><source src="{{ site.url }}/{{ page.video }}" type="video/mp4">Your browser does not support the video tag.
    </video>
    {% endif %}
</div>

