---
layout: default
---

<div id="project">
    <h2>{{ page.title }}</h2>
    <img src="{{ site.url }}/{{ page.summaryimg }}">

    <b> Abstract </b>
    <p>{{ page.abstract }}</p>
    {% if page.gameurl %}
    <b>Game Link</b>: <a href="http://{{ page.gameurl }}">{{ page.gameurl }}</a>
    {% endif %}

    {% if page.paper %}
    , <a href="http://{{ page.gameurl }}">Paper</a>
    {% endif %}

    {% if page.video %}
    <h3> Video </h3><br>
    {{ page.video }}
    {% endif %}

    {% if page.source %}
    <h3> Source </h3><br>
    {{ page.source }}
    {% endif %}

    <br>Developed by <a href="http://{{ page.authorlink }}">{{ page.author }}</a>
</div>

